.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
}

/* Стили для кнопки */
#openModalBtn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Стили для модального окна */
#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}



.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
    padding: 20px;
    width: 400px;
    margin: 100px auto;
    border-radius: 5px;
  }

  .form-item {
    width: 100%;
  }
 

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error {
    display: flex;
    color: #FF543E;
    font-size: 20px;
  }
  
  .contact-form__success {
    font-size: 35px;
    color: #0bbc0b;
    text-align: center;
  }

  #answer a {
    display: block;
    text-align: center;
  }